<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="MvpPractica.Interfaces.IMainPresenter, MvpPractica" mapTo="MvpPractica.Presenters.AR.MainPresenterAR, MvpPractica"/>
       <!-- <register type="MvpPractica.Interfaces.IMainPresenter, MvpPractica" mapTo="MvpPractica.Presenters.US.MainPresenterUS, MvpPractica"/> -->
    </container>
</unity>